<html>
<head>
    {% include 'head.html' %}
</head>
    <body>
        {% include 'nav.html' %}
        <div class="container" style="font-family: 'Assistant', sans-serif;">
            <h3>
                {% if user_name %}
                Hello, {{ user_name }}
                {% endif %}
            </h3>
            <h5 class="">Make a new list:</h5>
            <div class="row">
                <form class="col s12" action="/list">
                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <input type="text" id="tag" class="validate" name="tag">
                            <label for="tag">Pocket Tag <i class="fa fa-tag" aria-hidden="true"></i></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <input type="text" id="count" class="validate" name="count">
                            <label for="count">Max Count <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></label>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            Include items from:
                        </p>
                        <p>
                            <input name="state" type="radio" id="unread" value="unread" />
                            <label for="unread">Unread</label>
                        </p>
                        <p>
                            <input name="state" type="radio" id="archive" value="archive" />
                            <label for="archive">Archive</label>
                        </p>
                        <p>
                            <input name="state" type="radio" id="all" value="all" />
                            <label for="all">Both</label>
                        </p>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <input type="submit" value="Get List" id="submit_tag" class="btn red lighten-1"/>
                        </div>
                    </div><br />
                </form>
            </div>
        </div>
        {% include 'scripts.html' %}
    </body>
</html>
