<html>
<head>
    {% include 'head.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        {% if tag %}
        <div class="row">
            <h1 class=""><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }} list by {{ user_name }}</h1>
            {% for item in list %}
            <div class="col s12 m6 l4">
                {% if list[item].resolved_title %}
                <h5>{{ list[item].resolved_title }}</h5>
                {% else %}
                <h5 style="word-wrap:break-word;overflow:hidden;">{{ list[item].given_title }}</h5>
                {% endif %}
                <div class="divider teal accent-4"></div>
                <p>
                    {% if list[item.excerpt] %}
                    No excerpt available.
                    {% else %}
                    {{ list[item].excerpt }}
                    {% endif %}<br />
                    <a href="{{ list[item].resolved_url}}"><i class="fa fa-external-link-square" aria-hidden="true"></i> read more</a>
                </p>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="center-align">Problem getting list from tag</h1>
            {% endif %}
        </div>
    </div>
    {% include 'scripts.html' %}
    <script>
    var maxheight = 0;

    $('.col').each(function () {
        maxheight = ($(this).height() > maxheight ? $(this).height() : maxheight);
    });

    $('.col').height(maxheight);
    </script>
</body>
</html>
