<nav class="teal accent-4">
    <div class="nav-wrapper container" style="font-family: 'Assistant', sans-serif;">
        <a href="#" class="brand-logo">
            {% if user_name %}
            Hello, {{ user_name }}
            {% else %}
            <span style="font-family: 'Righteous', cursive;">listby</span>
            {% endif %}
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href={{ url_for('index') }}>Home</a></li>
        </ul>
    </div>
</nav>
